<form action="/obtener/facturas" method="POST">
  <input type="text" name="vendedor" placeholder="Vendedor">
<input type="text" name="cliente" placeholder="Cliente">
<input type="date" name="fecha" placeholder="Fecha inicial">
<input type="date" name="fecha" placeholder="Fecha final">
<input type="text" name="lugar" value="-75.69554328918457">
<input type="text" name="lugar" value="4.81354909567146">
<input type="text" name="productos" value="celular  ">
<input type="submit" value="Buscar">
</form>
